*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  background-color: rgb(13, 27, 31);
  color: white;
}

.cellRow{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.cellRow button{
  background-color:  rgb(74, 133, 149);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: x-large;
}

.cellCon{
  height: 200px;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}

.tableCell{
  height: 50px;
  width: 50px;
  transition: all 0.3s ease-in-out;
}

.btnSec{
  display: flex;
  gap: 10px;
}

.btnSec button{
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  background-color:  rgb(40, 69, 77);
  color: rgb(145, 225, 225);
  cursor: pointer;
}

.tableCell:hover{
  background-color:  rgb(102, 191, 216);
}
/* footer{
  background-color: rgb(35, 75, 76);
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.drawText, .winnerText{
  animation: scaleUp 1s ease-in-out infinite alternate;
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@media (max-width:260px) {
  .container{
    height: 110vh;
  }
  .btnSec{
    display: flex;
    flex-direction: column;
  }
  .mainHead{
    font-size: 1.6rem;
  }
  .subHead{
    font-size: 0.8rem;
    /* margin-bottom: 50px; */
  }
}